version: '3.8'

services:
  db:
    image: postgres:14-alpine
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: attendance
    volumes:
      - dbdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  backend:
    image: bayarmaa/attendance-system-backend
    environment:
      DATABASE_URL: postgresql://app:secret@db:5432/attendance
      FACE_SERVICE_URL: http://face-service:5001
      PORT: 4000
      NODE_ENV: production
    ports:
      - "4000:4000"
    depends_on:
      - db
    restart: unless-stopped

  face-service:
    image: bayarmaa/attendance-system-face-service
    ports:
      - "5001:5001"
    restart: unless-stopped

  frontend:
    image: bayarmaa/attendance-system-frontend
    environment:
      - REACT_APP_API_URL=http://<EC2_PUBLIC_IP>:4000
      - REACT_APP_FACE_SERVICE_URL=http://<EC2_PUBLIC_IP>:5001
    ports:
      - "80:80"
    depends_on:
      - backend
      - face-service
    restart: unless-stopped

volumes:
  dbdata:
